@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DynaPuff&family=Mukta:wght@300&display=swap');


body{
    font-family: 'Bree Serif', serif;
    background-color: #FF8787;
}
    

.titulo {
    color:aliceblue;
    font-size: 36px;
    width: 330px;
    height: 50 px;
    font-family:'DynaPuff', cursive;
}
.subtitulo {
    color: whitesmoke;
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 150px;
    height: 50 px;
    background-color:lightskyblue ;
}
.tarjetas, .tarjetasAtaques {
    display: flex;
    gap: 10px
}
.tarjetademokepon{
    width: 160px;
    height: 88px;
    background: #FF5858;
    padding: 15px;
    box-sizing: border-box;
    margin: 8px;
    border: 4px outset    rgb(177, 106, 101);
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.tarjetademokepon img
    {
        width: 64px;
        height: 64px;  
    }

.botonseleccionar{
    width: 160px;
    height: 68px;
    background: transparent;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 8px;
    border: 4px outset rgb(213 217 66 / 98%);
    color: white;
    border-radius: 20px;
    font-family: 'Mukta', sans-serif;
    font-size: 24px;
}
.botonseleccionar:hover {
    background-color: rgb(172, 177, 26);
}
input {
    display: none;
}
input:checked + label {
 background-color: #E0144C;
}
#seleccionarataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonAtaque{
    width: 104px;
    height: 60px;
    padding: 8px;
    box-sizing: border-box;
    margin: 8px;
    border: 4px outset    rgb(27, 66, 44);
    border-radius: 36px;
    color: black;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}
.botonAtaque:hover {
    background-color: azure;
}
.botonAtaque:disabled{
    background-color:#7F8487;
}
.botonAtaquetipofuego{
    background: rgb(255, 108, 108);
}
.botonAtaquetipoagua{
    background: rgb(135 196 225);
}
.botonAtaquetipotierra{ 
    background: rgb(164 233 156);   
}
#mensajes {
    background: #F8C4B4;
    ;
    width: 200px;
    border-radius: 32px;
    padding: 3px;
    margin-top: 3px;
    display: flex;
    align-items:  center;
    flex-direction: column;
    
}
.botonreiniciar{
    width: 112px;
    height: 36px;
    background: #FCFFB2;
    padding: 3px;
    box-sizing: border-box;
    margin: -4px;
    border-radius: 20px;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
}
.botonreiniciar:hover {
    background-color: rgb(171, 175, 40);
}
.ataquesLanzados{
    display: grid;
    grid-template-columns: 120px 120px;
    justify-items: center;
}
#vidasJugador, #vidasEnemigo{
    font-size: 20px;
    margin-bottom: 0px;
}
.ataquesLanzadosJugador, .ataquesLanzadosEnemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetasAtaques {
      flex-direction: column;
    }
  }
